.selectDropCursor{
    width:270px;
    height: auto;
    background: #fff;
    position: absolute;
    top: 32px;
    left:-15px;
    border-radius: 10px;
    z-index : 100;
    box-shadow: 0 3px 6px rgb(0 0 0 / 20%);
    padding : 15px;
}

.selectDropCursor .openSelect{
    display: block;
    padding: 10px 0px;
    width:30px !important;
   
}

.searchField input{
    width : 100%;
    height: 50px;
    border : 1px solid #bce3c9 !important;
    outline : none;
    padding : 0px 15px;
}   
.selectDropCursor .searchResults{
    width: 100%;
    margin: 0px;
    padding : 10px 0px;
    max-height: 200px;
    overflow-y: scroll;
}
.selectDrop .searchResults::-webkit-scrollbar {
  width: 10px !important;
}
.selectDrop .searchResults::-webkit-scrollbar-thumb {
  background: #ccc; 
}
.selectDrop .searchResults::-webkit-scrollbar-track {
  background: #f1f1f1;
}
.selectDropCursor .searchResults li{
    list-style: none;
    font-size: 16px;
    width: 100%;
    padding : 5px;
}
.selectDropCursor .searchResults li:hover {
  background: #3bb77e;
  color : #fff;
}
.selectDropCursor .searchResults li.active{

    background : #f1f1f1;
    color: #000 !important;
}