header{
    width : 100%;
    height:auto;
    margin : auto;
    padding: 30px 0px;
}
header .headerSearch{
    width: 100%;
    height: 40px;
    border: 1px solid  #bce3c9;
    border-radius: 10px;
    padding : 10px 15px;
     align-items: center;
}
header .headerSearch .selectDrop{
    width: 20%;
    font-size: 16px;
    font-weight: 500;
    position : relative;
    padding-right: 10px;
}
header .headerSearch .search{
    width : 80%;
    padding-left: 30px;
    position: relative;
}
header .headerSearch input{
    width : 100%;
    height : 30px;
    border : 0px; outline: none !important;
    font-size: 14px;
}
header .headerSearch .selectDrop::after{
    content:'';
    width:1px;
    height: 25px;
    background: rgba(0,0,0,0.2);
    position: absolute;
    top:0px;
    right:0px;
}
header .headerSearch .search .searchIcon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  opacity: 0.8;
}
