.nav{
    width : 100%;
    height: 70px;
    margin: auto;
    border-top: 1px solid rgba(0,0,0,0.1);
    border-bottom: 1px solid rgba(0,0,0,0.1);
}
.nav .catTab{
    padding : 8px 20px;

}
.row {
  display: flex;
  align-items: center;
}

.nav nav ul li Button{
    text-transform: capitalize;
    padding : 20px 15px ;
    color: rgba(0,0,0,0.8);
}
.nav nav ul li Button a{
    font-size:15px !important;
    color: rgba(0,0,0,0.8);
    text-decoration: none;
}

.nav .part3 .phNo svg{
    font-size: 35px !important;
    opacity: 0.98;
}
.nav .part3 .phNo h3{
    font-size: 30px !important;
    line-height: 20px !important;
}
.nav .part3 .phNo p{
    font-size: 15px !important;
}